@charset "utf-8";
/* CSS Document */

* {
	margin:0;											/* Zerando a margem da pagina */
	padding:0;
}

body {
	background: url(../img/imagem.jpg) no-repeat fixed; 
	background-size: cover;								/* Tela cheia */
	margin:0;
}
 
#realBody{
	position:absolute;
	z-index: 999; 										/* Fazendo que o "Background-Div" fique no fundo da tela */
	overflow:auto; 										/* Especifica quando o conteúdo de um elemento exceder o tamanho, coloca uma scroll. */
	height:100%;
	width:100%;
    background: url(../img/raster.png) fixed; 
}

.divred{
  /*position:relative; Faz com que nada fique em cima*/
	z-index: 5; 
	margin-top: 50px;
	background: red;
	width: 100px;
	height: 100px;
}

.divpreta{
	margin-top: -40px;
	margin-left: 10px;
	z-index: 5;
	background: black;
	width: 100px;
	height: 100px;
}