
/* Padrão */

.payment-methods {
  list-style: none;
  margin: 0;
  padding: 0;
}

.payment-methods:after {
  content: "";
  clear: both;
}

.payment-method {
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
  height: 70px;
  position: relative;
  width: 120px;
}

.payment-method + .payment-method {
  margin-left: 25px;
}


/* Cor */

.payment-method label {
  background: #fff no-repeat center center;
  bottom: 1px;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 1px;
  position: absolute;
  right: 1px;
  text-indent: 100%;
  top: 1px;
  white-space: nowrap;
}

/* Imagens Sobrepondo */

.pagamento1 label {
  background-image: url(mastercard.jpg);
}

.pagamento2 label {
  background-image: url(visa.jpg);
    width: 120px;
	height: 70px;
}

.pagamento3 label {
  background-image: url(elo.jpg);
}

/* Retrato */

.payment-methods input:checked + label {
  outline: 4px solid #21b4d0;
}

/* Confirmação */

.payment-methods input:checked + label:after {
  background: url(checked.png);
  bottom: 0px;
  content: "";
  display: inline-block;
  height: 20px;
  position: absolute;
  right: 0px;
  width: 20px;
}