@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}

a{
	color:#999;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
	color: #34ABE0;
}

body{
	margin: 0 auto;
	font: 13px Verdana, Geneva, sans-serif;
	background-color: #f5f5f5;
	color: #999;
}

div.topo, div.corpo{
	width: 940px;
	height: 173px;
	margin: 0 auto;
}

header, nav, section, article, footer, aside{
	display:block;

}

header h1{
	font-size: 30px;
	line-height: 40px;
	padding: 20px 0;
	margin-top: 20px;
	
}

header.topo figure.logo img{
	height: 120px;
	width: 120px;
	margin-top: 20px;
}

header.topo hgroup{
	float: left;
}

header.topo figure.logo{
	float: left;
	margin-bottom: 30px;
	margin-right: 30px;

}

header.topo hgroup h1{
	margin-bottom: -20px;
}


div.menu{
	clear: both;
	height: 30px;
	background-color: blue;]
	min-width: 940px;

}

.menu-fixo{
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
}


nav{
	margin: 0 auto;
	width: 940px;
}
nav ul {
	list-style:none;
	clear: both;
	color: white;
	margin: 0 auto;
}

nav ul li {
	float:left;
}

nav ul li a{
	display:block;
	height:30px;
	padding-left: 30px;
	padding-right: 30px;
	font-size:14px;
	line-height:30px;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
color: white;
}

nav ul li a:hover{
	color: #34ABE0;
}

nav ul li a.selecionado{
	background-color:#34ABE0;
	margin-left: 10px;
	color: #FFF;
	height: 25px;
	line-height:25px;
	margin-top:2px;
	margin-left:0px;
	
}

section#intro{
	height: 235px;
	width: 940px;
	background:url('../img/intro_bg.png') right top no-repeat #DDEEEE;
	margin-top: 60px;
	padding-left: 10px;
	
}

section#intro hgroup h1{
	font-size:24px;
	text-align: left;
	line-height: 40px;
	color: #999;
}

section#intro hgroup h2{
	font-size: 20px;
	line-height: 30px;
	font-style: italic;
	color: #999;
}

section#intro p{
	padding-top: 35px;
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
	width: 600px;
	color: #34A8E0;
}

article header h1{
	font-size: 20px;
	text-align: left;
	line-height: 40px;
	margin-top: 20px;
	padding:0;
}

article p{
	margin-bottom: 10px;
	padding-right: 10px;
	width: 610px;
	
}

article header p{
	font-size: 15px;
	line-height: 30px;
	font-style: italic;
	margin-bottom:0px;
}

article{
	float:left;
	width: 620px;
}

aside{
	float:left;
	width: 280px;
	padding-left: 40px;	
}

aside section{
	margin-top: 35px;
	padding: 10px;
	background-color:#eee;	
}

aside section h1{
	margin-bottom: 10px;
	font-size: 16px;
}

aside ul{
	list-style:none;
}

aside ul li{
	margin-left: 20px;
}

aside ul li a{
	color:#999;
	text-decoration:none;
}

aside ul li a:hover{
	text-decoration:underline;
	color: #34ABE0;
}

footer{
	clear:both;

}


footer.rodape {
	float:left;
	margin: 0 auto;
	width: 920px;
	margin-top: 35px;
	padding: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #eee;
	text-align: center;
}

footer.rodape p{
	margin-bottom: 10px;
	font-size: 16px;
}
	
	