﻿<?php include ('connection/connection.php'); ?>
<?php get_header(); ?>

<div id="tituloPag">
  <div class="container">
    <h1 id="title">
    	<?php the_title(); ?>
    </h1>
  </div>
</div>

<div class="container" id="tabValores" >
	<div class="row-fluid">
    	<div class="span9">
			<h3 id="preCongresso">SIMPÓSIO</h3>	
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th width="40%" height="40">CATEGORIA</th>
                    <th width="20%" align="center">02/11</th>
                    <th width="20%" align="center">NO EVENTO</th>
                </tr>
                <tr>
                    <td height="40">Oftalmologista</td>
                    <td align="center">R$ 1.200</td>
                    <td align="center">R$ 1.350</td>
                </tr>
                <tr>
                    <td height="40">Residente e Tecnólogo de Outro Serviço (com comprovante)</td>
                    <td align="center">R$ 900</td>
                    <td align="center">R$ 1.100</td>
                </tr>
                <tr>
                    <td height="40">Oftalmologistas e Tecnólogos com Crachá Válido do Departamento de Oftalmologia UNIFESP</td>
                    <td align="center">R$ 900</td>
                    <td align="center">R$ 1.100</td>
                </tr>
                <tr>
                    <td height="40">Residentes de Oftalmologia da UNIFESP</td>
                    <td align="center">Isento</td>
                    <td align="center">Isento</td>
                </tr>
                <tr>
                    <td height="40">Palestrantes</td>
                    <td align="center">Isento</td>
                    <td align="center">Isento</td>
                </tr>
            </table>
            
            <h3>CURSOS HANDS-ON</h3>
            <div class="alert alert-error" style="margin-top:20px">
            <strong>Importante:</strong> Inscrição nos Cursos Hands-on disponíveis APENAS para inscritos no Simpósio
            </div>
            
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th width="40%" height="40">CURSO</th>
                    <th width="20%">CATEGORIA</th>
                    <th width="20%">08/11</th>
                    <th width="20%">09/11</th>
                </tr>
                <tr>
                    <td height="40">Ultrassom</td>
                    <td>Oftalmologista</td>
                    <td>R$ 1.000</td>
                    <td>R$ 1.000</td>
                </tr>
                <tr>
                    <td height="40">UBM - Biomicroscopia Ultrassonica</td>
                    <td>Oftalmologista</td>
                    <td>R$ 1.000</td>
                    <td>R$ 1.000</td>
                </tr>
                <tr>
                    <td height="40">Biometria Óptica e Ultrassonica</td>
                    <td>Oftalmologista e Tecnólogo</td>
                    <td>R$ 1.000</td>
                    <td>R$ 1.000</td>
                </tr>
                <tr>
                    <td height="40">OCT Posterior e Angio-OCT</td>
                    <td>Oftalmologista e Tecnólogo</td>
                    <td>R$ 1.000</td>
                    <td>R$ 1.000</td>
                </tr>
                <tr>
                    <td height="40"> OCT Anterior</td>
                    <td>Oftalmologista e Tecnólogo</td>
                    <td>R$ 1.000</td>
                    <td>R$ 1.000</td>
                </tr>
            </table>
            
        </div>
        
        <div class="span3" id="tabInscreva">
        	<h3>Inscreva-se</h3>
            <div class="row-fluid">
                <form action="wp-content/themes/UNIFESP/consulta-inscrito.php" method="get" id="formAvaliacaoSistema">
                    <input name="cpf" type="text" required="" class="span12 valid" id="cpf" onkeypress="return SomenteNumero(event)" maxlength="11">
                    	<?php
							if (isset($cpf_aa)) {
							echo 'value="'.$cpf_aa.'" disabled ';
							}
						?>
                    <select name="categoria" class="span12" required>
                        <option disabled>Selecione a categoria</option>
                        <?php
                            $sql = mysql_query("SELECT * FROM categoria ORDER BY id_cat");
                            while($registro = mysql_fetch_array($sql)){
                                $id_cat	= $registro['id_cat'];
                                $descricao	= utf8_encode($registro['descricao']);
                                
                                echo '<option value="'.$id_cat.'">'.$descricao.'</option>';
                            }
                        
                        ?>
                    </select>
                    <input type='submit' class="span12 btnPad" value="Consultar / Inscrever" />
                </form>
			</div>
        </div>
    </div>
    
</div>





<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script type="text/javascript">
$(document).ready(function(){
        $("#palco > div").hide();
        $("#perfil").change(function(){
                $("#palco > div").hide();
                $( '#'+$( this ).val() ).show('fast');
        });
		
});
</script>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
<script type="text/javascript">

jQuery.validator.addMethod("cpf", function(value, element) {
   value = jQuery.trim(value);
	
	value = value.replace('.','');
	value = value.replace('.','');
	cpf = value.replace('-','');
	while(cpf.length < 11) cpf = "0"+ cpf;
	var expReg = /^0+$|^1+$|^2+$|^3+$|^4+$|^5+$|^6+$|^7+$|^8+$|^9+$/;
	var a = [];
	var b = new Number;
	var c = 11;
	for (i=0; i<11; i++){
		a[i] = cpf.charAt(i);
		if (i < 9) b += (a[i] * --c);
	}
	if ((x = b % 11) < 2) { a[9] = 0 } else { a[9] = 11-x }
	b = 0;
	c = 11;
	for (y=0; y<10; y++) b += (a[y] * c--);
	if ((x = b % 11) < 2) { a[10] = 0; } else { a[10] = 11-x; }
	
	var retorno = true;
	if ((cpf.charAt(9) != a[9]) || (cpf.charAt(10) != a[10]) || cpf.match(expReg)) retorno = false;
	
	return this.optional(element) || retorno;

}, "Informe um CPF válido");
 

$(document).ready(function(){
 
   $("#formAvaliacaoSistema").validate({
      rules: {
          cpf: {cpf: true, required: true}
      },
      messages: {
         cpf: { cpf: 'CPF inválido'}
      }
   });
});
</script>

<script type="text/javascript">

$(document).ready(function(){
  $('#showPassword').on('click', function(){
    
    var passwordField = $('#senha');
    var passwordFieldType = passwordField.attr('type');
    if(passwordFieldType == 'password')
    {
        passwordField.attr('type', 'text');
        $(this).val('<i class="icon-eye-close"></i>');
    } else {
        passwordField.attr('type', 'password');
        $(this).val('<i class="icon-eye-open"></i>');
    }
  });
});


$(document).ready(function(){
  $('#showPasswordConfirm').on('click', function(){
    
    var passwordField = $('#senha_confirm');
    var passwordFieldType = passwordField.attr('type');
    if(passwordFieldType == 'password')
    {
        passwordField.attr('type', 'text');
        $(this).val('<i class="icon-eye-close"></i>');
    } else {
        passwordField.attr('type', 'password');
        $(this).val('<i class="icon-eye-open"></i>');
    }
  });
});


</script>




<?php include ('footer.php'); ?>
<?php get_footer(); ?>
