body{font:14px;}

.ex1{
	width:460px;
	padding:20px;
	background: #1e90ff;
	margin: 0 auto;				/*Alinhando ao centro*/
	text-align: center;
	color:#fff;
}

.ex2{
	margin: 0 auto;
	text-align: center;
}

p{
	width: 480px;
	padding: 5px;
	background: #000;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	border: 5px solid #ccc;
	margin-top: 10px;
}

.ev4{
	width: 480px;
	padding: 5px;
	background: #000;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	border: 5px solid #ccc;
	margin-top: 10px;
	}