﻿/*
Theme Name: criarsite.com.br
Theme URI: http://teamtreehouse.com/wordpress-bootstrap-theme-tutorial
Description: Tema do hotsite do Nefrologia - 2017 <a href="http://www.teamtreehouse.com.br/">Clique aqui para acessar o hotsite</a>.
Author: NOME DO CRIADOR
Author URI: http://www.planetaw.com.br/
Version: 1.0
Tags: responsive, bootstrap

License: Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)
License URI: http://creativecommons.org/licenses/by-sa/3.0/

This simple theme was built using the example Bootstrap theme "Basic marketing site" found on the Bootstrap web site http://twitter.github.com/bootstrap/examples/hero.html
*/

@charset "utf-8";
/* CSS Document */

@import url('css/bootstrap.css');
@import url('css/bootstrap-responsive.css');
@import url('fonts/font.css');

body {
    padding-right: 0px;
    padding-left: 0px;
}

#menuRes{
	display: none;
}

#menuSup{
	margin: 0;
	box-sizing: content-box;
	-webkit-padding-start: 0px;
}

#menuSup ul{
	margin: 0;
	text-align: right;
}

#menuSup ul li{
	display: inline-block;
}

#menuSup ul li a{
	/* Configurar tudo no "a"*/
}

#menuSup ul li a:hover{
	/* Configurar tudo no "a"*/
}

#menuSup ul li ul{
	display: none;
	position: absolute;
	margin: 0px;
	text-align: left;
}

#menuSup ul li:hover ul {
	display: block;
	position:absolute;
}
#menuSup ul li ul li{
	display: block;
	padding: 0px;
}

#menuSup ul li ul li a{
	/* Configurar tudo no "a"*/
}

#menuSup ul li ul li a:hover{
	/* Configurar tudo no "a"*/
}


/**************** ICONES ****************/

/*#logo span{
    -webkit-transition: 0.4s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}
*/

/*#logo{
    background-image: url('url-da-imagem.png');
    display: inline-block;
}*/

/**************** RESPONSIVO ****************/

@media (max-width: 1200px) {
.container {
	width: 100%;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
}

}

@media (max-width: 979px) and (min-width: 768px){
	
}

@media (max-width: 767px){
	
}
